# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out

*.pth
*.pt
installer
my_work/data
my_work/Project 1 Vision Transformer/panopticapi/build
my_work/Project 1 Vision Transformer/cocoapi/PythonAPI/build
